<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }
    th, td {
        padding: 12px;
        border: 1px solid #ddd;
    }
    th {
        background-color: #f4f4f4;
    }
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Account</th>
            <th>Name</th>
            <th>Symbol</th>
            <th>Opening Balance</th>
            <th>Gain (%)</th>
            <th>Profit</th>
            <th>Closing Balance</th>
            <th>Opened</th>
            <th>Closed</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
        <tr>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[7] }}</td>
            <td>${{ "%.2f" | format(row[3]) }}</td>
            <td>{{ "%.2f" | format(row[4]) }}%</td>
            <td>${{ "%.2f" | format(row[5]) }}</td>
            <td>${{ "%.2f" | format(row[6]) }}</td>
            <td>{{ row[8].strftime('%Y-%m-%d %H:%M:%S') if row[8] else '' }}</td>
            <td>{{ row[9].strftime('%Y-%m-%d %H:%M:%S') if row[9] else 'Open' }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>
